.instagram {
  display: inline-block;
  text-align: center;
  border-radius: 10px !important;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.instagram a {
  color: #fff;
}
